@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --surface-color: #F0F0F0;
  --primary: #FF5524;
  --secondary: #00112A;
  --button-foreground: #FFFFFF;
  --success-color: #3FAC64;
  --divider-color: #F0F0F0;
  --disabled-color: #BBBBBB;
  --hint-text-color: #929292;
  --disabled-button-foreground: #F0F0F0;
  --text-color: #0C0C0C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0C0C;
    --surface-color: #1A1F27;
    --primary: #FF5524;
    --secondary: #EBF0F7;
    --button-foreground: #FFFFFF;
    --success-color: #4BBF72;
    --divider-color: #2A3038;
    --disabled-color: #3A4048;
    --hint-text-color: #9CA3AF;
    --disabled-button-foreground: #707880;
    --text-color: #F5F5F5;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-surface-color: var(--surface-color);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-button-foreground: var(--button-foreground);
  --color-success-color: var(--success-color);
  --color-divider-color: var(--divider-color);
  --color-disabled-color: var(--disabled-color);
  --color-hint-text-color: var(--hint-text-color);
  --color-text-color: var(--text-color);
  --color-disabled-button-foreground: var(--disabled-button-foreground);
  --font-sans: var(--font-vend-sans), system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
}

@layer base {
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  input,
  select,
  textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-color);
    border: none;
    outline: none;
    background-color: var(--surface-color);
    padding: 16px 16px;
    border-radius: 12px;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--hint-text-color);
  }

  input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid var(--primary);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
    -webkit-box-shadow: 0 0 0 1000px var(--surface-color) inset;
    box-shadow: 0 0 0 1000px var(--surface-color) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}


.primary-button {
  background-color: var(--primary);
  color: var(--button-foreground);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.primary-button:disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-button-foreground);
  cursor: not-allowed;
}

.text-link {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}